Joins using data.table syntax

In [ ]:
#Latihan 1
# Right join population to capitals using data.table syntax
capitals[population, on = .(city)]

In [ ]:
# Right join using merge
merge(capitals, population, by = "city", all.y = TRUE)

In [ ]:
#Latihan 2
# Inner join with the data.table syntax
capitals[population, on = .(city), nomatch = 0]

In [ ]:
#Latihan 3
# Anti-join capitals to population
population[!capitals, on = .(city)]

In [ ]:
# Anti-join capitals to area
area[!capitals, on = .(state)]

Setting and viewing data.table keys

In [ ]:
#Latihan 1
# Set the keys
setkey(netflix, "title")
setkey(imdb, "title")

# Inner join
netflix[imdb, nomatch = 0]

In [ ]:
#Latihan 2
# Check for keys
haskey(netflix)
haskey(imdb)

# Find the key
the_key <- key(netflix)

# Set the key for the other data.table
setkeyv(imdb, the_key)

Incorporating joins into your data.table workflow

In [ ]:
#Latihan 1
# Inner join capitals to population
population[capitals, on = .(city), nomatch = 0]

In [ ]:
# Join and sum
population[capitals, on = .(city), nomatch = 0,
           j = sum(percentage)]

In [ ]:
#Latihan 2
# How many continents is each country listed in?
continents[life_exp, on = .(country), .N, 
           by = .EACHI]

In [ ]:
# What countries are listed in multiple continents?
continents[life_exp, on = .(country), .N, 
           by = .EACHI][N > 1]

In [ ]:
#Latihan 3
# Calculate average life expectancy per continent:
avg_life_expectancy <- continents[life_exp, on = .(country), 
                                  nomatch = 0][, j = mean(years), 
                                               by = .(continent)]
avg_life_expectancy