Time statistics

In [ ]:
-- Latihan 1
SET STATISTICS TIME ON -- Turn the time command on

In [ ]:
-- Query 1
SELECT * 
FROM Teams
-- Sub-query 1
WHERE City IN -- Sub-query filter operator
      (SELECT CityName 
       FROM Cities) -- Table from Earthquakes database
-- Sub-query 2
   AND City IN -- Sub-query filter operator
	   (SELECT CityName 
	    FROM Cities
		WHERE CountryCode IN ('US','CA'))
-- Sub-query 3
    AND City IN -- Sub-query filter operator
        (SELECT CityName 
         FROM Cities
	     WHERE Pop2017 >2000000);

In [ ]:
-- Query 2
SELECT * 
FROM Teams AS t
WHERE EXISTS -- Sub-query filter operator
	(SELECT 1 
     FROM Cities AS c
     WHERE t.City = c.CityName -- Columns being compared
        AND c.CountryCode IN ('US','CA')
          AND c.Pop2017 > 2000000);

In [ ]:
SET STATISTICS TIME OFF -- Turn the time command off

Page read statistics

In [ ]:
-- Latihan 1
SET STATISTICS IO ON -- Turn the IO command on

In [ ]:
-- Example 1
SELECT CustomerID,
       CompanyName,
       (SELECT COUNT(*) 
	    FROM Orders AS o -- Add table
		WHERE c.CustomerID = o.CustomerID) CountOrders
FROM Customers AS c
WHERE CustomerID IN -- Add filter operator
       (SELECT CustomerID 
	    FROM Orders 
		WHERE ShipCity IN
            ('Berlin','Bern','Bruxelles','Helsinki',
			'Lisboa','Madrid','Paris','London'));

In [ ]:
-- Latihan 2
-- Example 2
SELECT c.CustomerID,
       c.CompanyName,
       COUNT(o.CustomerID)
FROM Customers AS c
INNER JOIN Orders AS o -- Join operator
    ON c.CustomerID = o.CustomerID
WHERE o.ShipCity IN -- Shipping destination column
     ('Berlin','Bern','Bruxelles','Helsinki',
	 'Lisboa','Madrid','Paris','London')
GROUP BY c.CustomerID,
         c.CompanyName;

In [ ]:
SET STATISTICS IO OFF -- Turn the IO command off

Indexes

In [ ]:
-- Latihan 1
-- Query 1
SELECT *
FROM Cities
WHERE CountryCode = 'RU'  -- Country code
		OR CountryCode = 'CN'  -- Country code

In [ ]:
-- Query 2
SELECT *
FROM Cities
WHERE CountryCode IN ('JM','NZ')  -- Country codes

Execution plans

In [ ]:
-- Latihan 1
SELECT CityName AS NearCityName,
	   CountryCode
FROM Cities

UNION -- Append queries

SELECT Capital AS NearCityName,
       Code2 AS CountryCode
FROM Nations;